.services h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
  width: 80%;
  margin: 2rem auto; 
}

.services-container .services-box {
  flex: 1 1 20rem;
  background: rgb(103, 92, 156);
  padding: 2rem 1rem 3rem;
  border-radius: 1rem;
  text-align: center;
  transition: .5s ease;
  margin-bottom: 1rem;
  max-height: 22rem; 
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box h3 {
  color: white;
  font-size: 2rem;
  margin-top: 2%;
}

.services-box p {
  color: white;
  font-size: 1.2rem;
  margin: 1rem 0 2rem;
}

.services-box i {
  margin-top: -4%;
  font-size: 45px;
  padding: 8px;
  color: white;
}
