.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
}

.about-img img {
    width: 25vw;
    margin-left: 30%;
}

.heading {
    text-align: center;
    font-size: 6rem;
    color: #0ef;
}

.about-content {
    margin-left: 11%;
    text-align: justify;
}

.about-content h2 {
    font-size: 4rem;
    text-align: left;
    line-height: 1.2;
}

.about-content p {
    font-size: 1.4rem;
    margin: 2rem 0 3rem;
    width: 90%;
    color: #0ef;
}

.btn-cv {
    text-decoration: none;
}
.Download-button {
    margin-left: 0;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 12px 20px;
    color: white;
    background: rgb(103, 92, 156);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
    letter-spacing: 0.05em;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
  }
  
  .Download-button svg {
    margin-right: 8px;
    width: 25px;
  }
  
  .Download-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(88, 71, 116, 0.627);
  }
  
  .Download-button:active {
    box-shadow: 0 0.3em 1em -0.5em rgba(88, 71, 116, 0.627);
  }
  
  .Download-button::before {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    transition: all 0.2s;
  }
  
  .Download-button::after {
    content: "";
    width: 4px;
    height: 40%;
    background-color: white;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 0;
    transition: all 0.2s;
  }
  
  .Download-button:hover::before,
  .Download-button:hover::after {
    height: 60%;
  }
  


@media (max-width: 768px) {
    .about {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-img img {
        width: 50vw;
        margin-left: 0%;
    }

    .about-content h2 {
        font-size: 5rem;
    }

    .about-content p {
        font-size: 1.8rem;
        margin: 2rem 0 3rem;
        width: 90%;
        color: #0ef;
    }

    .btn-cv {
        background-color: blueviolet;
        color: white;
        font-size: 1.5rem;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
    }
}